<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Angular example 1</title>
	<link rel="icon" type="image" href="favicon.ico"/>
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="libs/ng-dialog/css/ngDialog.min.css">
	<link rel="stylesheet" type="text/css" href="libs/ng-dialog/css/ngDialog-theme-default.min.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
</head>
<body>
	<div id="wrapper" ng-app="ng-usermanage" ng-controller="usersController">
		<h1>Users Table</h1>
		<div class="control-action">
			<button type="button" class="btn btn-primary" ng-click="openNewUserDialog()">Add user</button>
			<span>Sort function</span>
		  <select ng-model="selectedSort" class="selectpicker btn btn-warning" id="sort" title="Sort value" ng-change="sortBy()">
		  	<option>Index</option>
		    <option>Name</option>
		    <option>Age</option>
		    <option>Email</option>
		  </select>
		  <label>Search by name only <input class="form-control" ng-model="search.name"></label>
		</div>
		<table class="table table-hover table-bordered table-responsive">
	    <thead>
	      <tr>
	      	<th>Index</th>
	        <th>Fullname</th>
	        <th>Age</th>
	        <th>Gender</th>
	        <th>Company</th>
	        <th>Email</th>
	        <th>Phone</th>
	        <th>Address</th>
	        <th>About</th>
	        <th></th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-init="edit=false" ng-repeat="user in slice_users | orderBy:propertyName:reverse | filter:search:strict">
	        <td>{{user.index}}</td>
	        <td ng-show="edit==false" class="username">{{user.name}}&nbsp;<i ng-click="edit = true" class="fa fa-edit fa-fw" aria-hidden="true"></i></td>
	        <td ng-show="edit==true"><input ng-enter="edit=false" type="text" id="name" ng-model="user.name" required="true"></td>
	        <td>{{user.age}}</td>
	        <td>{{user.gender}}</td>
	        <td>{{user.company}}</td>
	        <td>{{user.email}}</td>
	        <td>{{user.phone}}</td>
	        <td>{{user.address}}</td>
	        <td>{{user.substr_about}}</td>
	        <td ng-click="editUserForm(user)"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color: #27ae60; cursor: pointer;"></i></td>
	        <td ng-click="deleteUser(user)"><i class="fa fa-times" aria-hidden="true" style="color: #c0392b; cursor: pointer;"></i></td>
	      </tr>
	    </tbody>
  	</table>
    <!-- pager -->
    <ul style="margin-left: 65%; margin-bottom: 30px;" ng-if="pager.pages.length" class="pagination">
        <li ng-class="{disabled:pager.currentPage === 1}">
            <a ng-click="setPage(1)">First</a>
        </li>
        <li ng-class="{disabled:pager.currentPage === 1}">
            <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
            <a ng-click="setPage(page)">{{page}}</a>
        </li>                
        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
            <a ng-click="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
            <a ng-click="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
	</div>
	<script src="libs/angular/angular.min.js"></script>
	<script src="libs/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="libs/ng-dialog/js/ngDialog.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="controllers/usersController.js"></script>
	<script type="text/javascript" src="services/usersService.js"></script>
	<script type="text/javascript" src="services/pagerService.js"></script>
</body>
</html>