<h3 style="text-align: center;">ADD USER</h3>
<form role="form">
  <div class="form-group">
    <input type="text" class="form-control" id="name" ng-model="newUser.name" placeholder="FullName" required="true">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="age" ng-model="newUser.age" placeholder="Age" required="true">
  </div>
  <div class="form-group">
	  <select class="form-control selectpicker" id="gender" ng-model="newUser.gender" title="Gender">
	  	<option class="bs-title-option" value="">Gender</option>
	    <option>female</option>
	    <option>male</option>
	    <option>others</option>
	  </select>
  </div>
	<div class="form-group">
    <input type="text" class="form-control" id="company" ng-model="newUser.company" placeholder="Company">
  </div>
	<div class="form-group">
    <input type="email" class="form-control" id="email" ng-model="newUser.email" placeholder="Email Address" required="true">
  </div>
	<div class="form-group">
    <input type="text" ng-pattern="/^\d+$/" class="form-control" id="phone" ng-model="newUser.phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="address" ng-model="newUser.address" placeholder="Address">
  </div> 
  <button type="submit" class="btn btn-default" ng-click="addUser(newUser)" style="margin-left: 40%;">Submit</button>
</form>